@page "/"
@using Infomatik.Validation.Blazor.Sample.Data

@code
{
  private User user = new();
}

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />


<EditForm Model="user">
  <ExtendedValidator TreatMissingValuesAsError="true" />
  <ShowRequiredPlaceholderBehaviour/>
  <ValidationSummary />
  
  <div class="row p-4">
    <label>Name</label>
    <InputText id="username" @bind-Value="@user.Username" />
    <ValidationMessage For="@(() => user.Username)" />
  </div>
  
  <div class="row p-4">
    <label>Password</label>
    <InputText id="password" @bind-Value="@user.Password" />
    <ValidationMessage For="@(() => user.Password)" />
  </div>
  
  <div class="row p-4">
    <label>Confirm Password</label>
    <InputText id="confirmpassword" @bind-Value="@user.ConfirmPassword" />
    <ValidationMessage For="@(() => user.ConfirmPassword)" />
  </div>
</EditForm>